@import '~styles/main.scss';
:host {
  @extend .flex-view;
  background-color: $white-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-info {
  text-align: right;
  h1 {
    margin: 0
  }
}

.back-button {
  position: absolute;
  top: 2em;
  left: 2em;
}

