@import '~styles/main.scss';

:host {
  background-color: #ECECEC;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .info-card {
    @include card(180px, 400px);
    text-align: center;
    padding: 20px;
  }
}

