@import '~styles/main';

:host{
  @extend .flex-view;
  background-color: $milk-background;
}

.main-view{
  min-height: 800px;//temp
  width: 60%;
  margin: 0 auto;
}

.mat-toolbar{
  color: $white;
  background-color: $milk-primary1;
}

.footer{
  color: $white;
  padding: 2.5em 0;
  width: 100%;
  background-color: $milk-primary3;
}